.task-table {
    border-collapse: collapse;
    width: 100%;
}


.task-table td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

}
  
.task-table th,
.task-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 30px;
}

.task-table th {
    background-color: #f2f2f2;
}



/* .task-table tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.task-table .high {
    color: red
}
  